* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 10;
}

header .logo img {
    width: 50px;
    cursor: pointer;
}

header nav {
    width: 64%;
    display: flex;
    overflow-x: scroll;
}

header nav button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #444;
    color: #fff;
}

header nav button:hover {
    background-color: #007bff;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

header div input {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #131010;
    outline: none;
    transition: border-color 0.3s ease;
}

header div input:focus {
    border-color: #007bff;
}

select {
    margin-left: 10px;
    padding: 8px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

select:focus {
    border: 2px solid #007bff;
}

.search-results {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #222;
    padding: 10px 20px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    z-index: 100;
}

.search-list {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(2, 615px);
}

.search-item {
    margin-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease;
}

.search-item:hover {
    background-color: #444;
}

.search-item h3 {
    font-size: 18px;
    margin: 0;
    color: #fff;
    margin-right: 10px;
    flex: 1;
}

.search-item p {
    margin: 0;
    color: #aaa;
}

.search-item img {
    width: 70px;
    margin-left: 10px;
}