.genres-btn {
    background-color: #111414;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s ease
  }
  
.genres-btn:hover {
    transform: scale(1.1);
}